--enable isEmpty

--disable blankLinesAroundMark
--disable hoistPatternLet
--disable initCoderUnavailable
--disable sortedImports
--disable trailingCommas
--disable preferKeypath

--decimalgrouping ignore
--ifdef outdent
--indent tab
--nospaceoperators ...,..<
--tabwidth 4
--stripunusedargs closure-only